@import '../vars.scss';

.bgblue {
  background-color: $background-blue;
}

.cta-icons {
  color: $cta-yellow !important;
}

.communitytitle {
  font-family: 'titleFont', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: $cta-yellow;
  text-align: center;
  margin-bottom: 16px;
}

.communitytext {
  font-family: 'textFont', sans-serif;
  color: $background-sand;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 16px;
}
