@import '../vars.scss';
@import '../mixins.scss';

.NewsSection {
  background-image: url('/images/testimage.webp');
  background-color: $background-blue;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.naetitle {
  font-family: 'titleFont', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: $cta-yellow;
  text-align: center;
  margin-bottom: 16px;
}

.latestarticle {
  font-family: 'textFont', sans-serif;
  color: $cta-blue;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 16px;
}

.maintext {
  font-family: 'textFont', sans-serif;
  color: $background-sand;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 16px;
}
