@import '../vars.scss';
@import '../mixins.scss';

.stand-alone-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $background-blue;

  @media screen and (max-width: 768px) {
    margin: 0;
    padding: 1rem;
  }
}
.stand-alone-title {
  @include stand-alone-title;
}

.stand-alone-subtitle {
  font-family: titleFont, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: $cta-yellow;

  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: 2.5rem;
  }
}

.stand-alone-description {
  font-family: textFont, sans-serif;
  color: $background-sand;
  font-size: 1rem;
  width: 100%;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}
