.units-page-navigation-forest-icon {
  &.icon-infantry {
    background-image: url('/icons/infantry.svg');
  }
  &.icon-archers {
    background-image: url('/icons/archers.svg');
  }
  &.icon-cavalry {
    background-image: url('/icons/cavalry.svg');
  }
  &.icon-catapult {
    background-image: url('/icons/catapult.svg');
  }
  &.icon-spearmen {
    background-image: url('/icons/spearmen.svg');
  }
  &.icon-scouts {
    background-image: url('/icons/scouts.svg');
  }
  &.icon-trireme {
    background-image: url('/icons/trireme.svg');
  }
  &.icon-galleon {
    background-image: url('/icons/galleon.svg');
  }
  &.icon-submarine {
    background-image: url('/icons/submarine.svg');
  }
  &.icon-frigate {
    background-image: url('/icons/frigate.svg');
  }
  &.icon-destroyer {
    background-image: url('/icons/destroyer.svg');
  }
  &.icon-carrier {
    background-image: url('/icons/carrier.svg');
  }
}
