@mixin large-title {
  font-family: titleFont, sans-serif;
  font-size: 5.25rem;
  text-transform: uppercase;
  color: $cta-yellow;
  margin: 0 auto;
  padding: 2rem 0;
  text-shadow: 3px 3px 4px $background-blue;
  text-align: center;
  z-index: 1;

  @media (max-width: 768px) {
    font-size: 3.25rem;
  }
}

@mixin small-title {
  font-family: titleFont, sans-serif;
  font-size: 5.25rem;
  text-transform: uppercase;
  color: $cta-yellow;
  margin: 0 auto;
  padding: 2rem 0;
  text-shadow: 3px 3px 4px $background-blue;
  text-align: center;
}

@mixin smaller-title {
  font-family: titleFont, sans-serif;
  font-size: 3.25rem;
  text-transform: uppercase;
  color: $cta-yellow;
  margin: 0 auto;
  padding: 2rem 0;
  text-shadow: 3px 3px 4px $background-blue;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-shadow: none;
    width: 100%;
  }
}

@mixin section-left-title {
  font-family: titleFont, sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: $cta-yellow;
}

@mixin description-text {
  font-family: textFont, sans-serif;
  font-size: 1.25rem;
  color: $background-sand;
  margin: 0 auto;
}
