@mixin hero-title {
  font-family: titleFont, sans-serif;
  font-size: 5.25rem;
  text-transform: uppercase;
  color: $cta-yellow;
  margin: 0 auto;
  padding: 2rem 0;
  text-shadow: 3px 3px 4px $background-blue;
  text-align: center;
}

@mixin section-title {
  font-family: titleFont, sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: $cta-yellow;
  margin: 0 auto;
  padding: 2rem 0;
}

@mixin info-text {
  font-family: textFont, sans-serif;
  font-size: 1.25rem;
  color: $background-sand;
  margin: 0 auto;
}
