$background-blue: #1b3449;
$cta-blue: #0e7689;
$cta-yellow: #f9c701;
$background-sand: #efe5c7;
$blue-hover: #088ca3;
$yellow-hover: #ffe26d;
$footer-background: #102535;

@font-face {
  font-family: 'titleFont';
  src: url('/fonts/friz-quadrata-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'textFont';
  src: url('/fonts/Montserrat.ttf') format('truetype');
}
