@import '../vars.scss';

.sidebar-tower {
  position: relative;
  height: 100vh;
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.sidebar-content {
  position: relative;
  z-index: 1;
  overflow-y: auto;
}

.triggerbackground {
  background-color: $background-blue;
}
