@import '../vars.scss';

.sidebar-tower {
  background-image: url('/images/castletower.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
