@import '../vars.scss';

.triangle {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 63% 100%);
}

.sandborder {
  border: 1px solid $background-sand;
}

.newsbox {
  background-color: $background-blue;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 1200px;
}
