@import '../_vars.scss';

.backgroundburger {
  background-image: url('/images/castletower.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: $background-blue;
  touch-action: none;

  @media screen and (max-width: 1024px) {
    background-color: transparent;
    background-position: center;
    position: fixed;
    width: 40%;
  }
}
.blurbackground {
  z-index: 60;
}

.backgroundburger a {
  color: $background-sand;
}

.backgroundburger a:hover {
  color: $cta-yellow;
}

.backgroundburger {
  color: $cta-yellow;
}

.buttonbg {
  background-color: $background-blue;
  z-index: 100;

  line {
    color: $background-sand;
  }
}

.navIcons {
  margin-top: 150%;
  color: $background-sand;
  font-size: 1.2rem;
  a.active-link {
    color: $cta-yellow;
    font-weight: 600;

    svg {
      color: $cta-yellow;
    }
  }

  @media screen and (max-width: 1024px) {
    margin-top: 33rem;
    font-size: 1rem;
  }

  @media screen and (max-width: 768px) {
    margin-top: 20rem;
    font-size: 0.8rem;
  }

  @media screen and (max-width: 400px) {
    margin-top: 12rem;
    font-size: 0.6rem;
  }
}
