@import '../_vars.scss';

.backgroundburger {
  background-image: url('/images/castletower.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: $background-blue;
  touch-action: none;

  @media screen and (max-width: 768px) {
    background-color: transparent;
  }
}

.backgroundburger a {
  color: white;
}

.backgroundburger a:hover {
  color: #ffd700;
}

.buttonbg {
  background-color: $background-blue;
  z-index: 100;
}

.navIcons {
  margin-top: 22rem;

  @media screen and (max-width: 768px) {
    margin-top: 17rem;
  }
}
