@import '../vars.scss';

.LeaderboardTable {
  background: $background-blue;
}

.player-name {
  font-weight: 700;
  font-size: 0.875rem;
  // color: $color-white;
  margin-top: 0.5rem;

  @media (min-width: 768px) and (max-width: 1024px) {
    font-weight: 700;
    font-size: 0.75rem;
  }
}