@import '../vars.scss';

.headertable {
  color: $cta-yellow;
  font-family: 'titleFont', sans-serif;
  font-size: 1.2rem;
}

.contexttext {
  color: $background-sand;
  font-family: 'textFont', sans-serif;
  font-size: 1rem;
}

.sandborder {
  border: 1px solid $background-sand;
}

.tablecontainer {
  width: 100%;
}

.titletext {
  color: $cta-yellow;
  font-family: 'titleFont', sans-serif;
  text-align: center;
}

.subtitle {
  color: $background-sand;
  font-family: 'textFont', sans-serif;
  text-align: center;
}

.mobilecard {
  background-color: $background-blue;
  border: $background-sand 1px solid;
}
.username {
  color: $cta-yellow;
  font-family: 'titleFont', sans-serif;
  font-size: 1.2rem;
}

.elotext {
  color: $cta-yellow;
  font-family: 'textFont', sans-serif;
  font-size: 1.2rem;
}

.cardtext {
  color: $background-sand;
  font-family: 'textFont', sans-serif;
  font-size: 0.7rem;
}
