@import '../../vars.scss';

.backgroundblue {
  background-color: $background-blue;
  color: $background-sand;
}

.leaderboard_next_text {
  color: $background-sand;
  font-family: "textFont", sans-serif;
}