@import '../../../_vars.scss';
@import '../../../_mixins.scss';

.units-page {
  background-color: $background-blue;
}

.units-page-hero {
  background-image: url('/images/Units_hero_img.webp');
  background-size: cover;
  height: 50vh;
  width: 100%;

  &-title {
    @include hero-title;
  }
}

.units-page-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
  color: $cta-yellow;
  font-size: 1.5rem;
  font-family: textFont, sans-serif;
  text-align: center;

  a {
    color: $cta-yellow;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  a.active {
    color: $background-sand;
    text-decoration: underline;
    text-shadow: 0 0 2px $background-sand;
  }
}

.units-page-navigation-unit ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 2rem 0;
  list-style: none;
}

.units-page-navigation-type ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
  padding: 0;
  margin: 2rem 0;
  list-style: none;
}

.units-page-navigation-city,
.units-page-navigation-port,
.units-page-navigation-forest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100px;
  text-align: center;

  .units-page-navigation-forest-icon {
    width: 65px;
    height: 65px;
    margin-bottom: 0.5rem;
    background-size: cover;

    img {
      transition: transform 1.7s ease-in-out;
    }

    &:hover {
      transform: scale(1.15);
    }
  }

  .units-page-navigation-city-icon {
    width: 150px;
    height: 150px;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    background-size: cover;

    img {
      transition: transform 1.7s ease-in-out;
    }

    &:hover {
      transform: scale(1.15);
    }
  }

  .units-page-navigation-port-icon {
    width: 120px;
    height: 150px;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    background-size: cover;

    img {
      transition: transform 1.7s ease-in-out;
    }

    &:hover {
      transform: scale(1.15);
    }
  }
}

.units-page-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem;
  margin: 0 auto;
  border-bottom: 2px solid $background-sand;

  h1 {
    font-family: titleFont, sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    color: $cta-yellow;
    margin: 0 auto;
  }

  h2 {
    font-family: titleFont, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: $cta-yellow;
    margin: 0 auto;
    padding-bottom: 2rem;
    line-height: 0.75;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1.25rem;
    font-family: textFont, sans-serif;
    color: $background-sand;
    text-wrap: pretty;
  }

  &-content {
    width: 60%;
  }
}

.units-page-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;

  &-block,
  &-skills {
    padding: 1.5rem;
  }

  &-block-title,
  &-skills-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: $cta-yellow;
  }

  &-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 0.75rem;
      padding: 0.75rem 0;
      font-size: 1rem;

      img {
        width: 48px;
        height: 48px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
    }
    &-label {
      font-weight: 500;
      color: $cta-yellow;
    }

    &-value {
      font-weight: 600;
      color: $background-sand;
    }
  }

  &-skills-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .skills-icons {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;

      img {
        width: 48px;
        height: 48px;
        background-color: transparent;
        border-radius: 6px;
      }
    }
  }
}

.units-page-stats-skills-fallback {
  @include info-text;
}
