.units-page-navigation-city-icon {
  background-image: url('/images/icons/small-icons/City_icon.webp');
}

.units-page-navigation-port-icon {
  background-image: url('/images/icons/small-icons/Port_icon.webp');
}

.units-page-navigation-unitinfo-icon {
  &.icon-rifleman {
    background-image: url('/images/icons/small-icons/Rifleman_icon.webp');
  }
  &.icon-medic {
    background-image: url('/images/icons/small-icons/Medic_icon.webp');
  }
  &.icon-mortar {
    background-image: url('/images/icons/small-icons/Mortar_icon.webp');
  }
  &.icon-roarer {
    background-image: url('/images/icons/small-icons/Roarer_icon.webp');
  }
  &.icon-knight {
    background-image: url('/images/icons/small-icons/Knight_icon.webp');
  }
  &.icon-general {
    background-image: url('/images/icons/small-icons/General_icon.webp');
  }
  &.icon-artillery {
    background-image: url('/images/icons/small-icons/Artillery_icon.webp');
  }
  &.icon-tank {
    background-image: url('/images/icons/small-icons/Tank_icon.webp');
  }
  &.icon-marine {
    background-image: url('/images/icons/small-icons/marine-icon.webp');
  }
  &.icon-admiral {
    background-image: url('/images/icons/small-icons/admiral-icon.webp');
  }
  &.icon-transport-ship {
    background-image: url('/images/icons/small-icons/TransportShip.webp');
  }
  &.icon-armoured-transport-ship {
    background-image: url('/images/icons/small-icons/ATS-icon.webp');
  }
  &.icon-warship-a {
    background-image: url('/images/icons/small-icons/WarshipA.webp');
  }
  &.icon-warship-b {
    background-image: url('/images/icons/small-icons/WarshipB.webp');
  }
  &.icon-battleship-ss {
    background-image: url('/images/icons/small-icons/WarshipSS.webp');
  }
}
