.units-page-navigation-city-icon {
  background-image: url('/images/icons/City_icon.webp');
}

.units-page-navigation-port-icon {
  background-image: url('/images/icons/Port_icon.webp');
}

.units-page-navigation-forest-icon {
  &.icon-rifleman {
    background-image: url('/images/icons/Rifleman_icon.webp');
  }
  &.icon-medic {
    background-image: url('/images/icons/Medic_icon.webp');
  }
  &.icon-mortar {
    background-image: url('/images/icons/Mortar_icon.webp');
  }
  &.icon-roarer {
    background-image: url('/images/icons/Roarer_icon.webp');
  }
  &.icon-knight {
    background-image: url('/images/icons/Knight_icon.webp');
  }
  &.icon-general {
    background-image: url('/images/icons/General_icon.webp');
  }
  &.icon-artillery {
    background-image: url('/images/icons/Artillery_icon.webp');
  }
  &.icon-tank {
    background-image: url('/images/icons/Tank_icon.webp');
  }
  &.icon-transport-ship {
    background-image: url('/images/icons/TransportShip.webp');
  }
  &.icon-armoured-transport-ship {
    background-image: url('/images/icons/ATS-icon.webp');
  }
  &.icon-warship-a {
    background-image: url('/images/icons/WarshipA.webp');
  }
  &.icon-warship-b {
    background-image: url('/images/icons/WarshipB.webp');
  }
  &.icon-battleship-ss {
    background-image: url('/images/icons/WarshipSS.webp');
  }
}
